<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://www.jivesoftware.com/schemas/clearspace/2_5/plugin.xsd">
    <name>TestWebservice</name>
    <description>TestWebservice</description>
    <author>Soham</author>
    <version>1.0.0</version>

    <minServerVersion>6.0.0</minServerVersion>
    <maxServerVersion>6.0.9</maxServerVersion>
    
    <class>org.tw.spike.jive.plugin.ws.FuPlugin</class>

    <javascript src="/plugins/TestWebservice/resources/script/jstest2.js" />

    <javascript src="/plugins/TestWebservice/resources/script/angular.js" />

    <javascript src="/plugins/TestWebservice/resources/script/ember-1.2.0.js" />

	<!-- 
    <authorURL>
    <pluginURL>
    <databaseKey>
    <databaseVersion>
    <components>
    <css>
    <soy>
    <javascript>
    <widget>
    <macro>
    <urlmapping>
    <sitemesh>
	-->

</plugin>
