<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd"
       default-autowire="no" default-init-method="init" default-destroy-method="destroy">

    <bean class="org.tw.spike.jive.plugin.ws.SamplePlugin"/>

    <bean id="restServiceImpl" class="org.tw.spike.jive.plugin.ws.FuRestServiceImpl"/>

    <jaxrs:server id="restService" address="/fuservice">
        <jaxrs:serviceBeans>
            <ref bean="restServiceImpl"/>
        </jaxrs:serviceBeans>
        <!--<jaxrs:providers>-->
            <!--<ref bean="jacksonJsonProvider"/>-->
            <!--&lt;!&ndash;<ref bean="secureJacksonJsonProvider"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<ref bean="securityInterceptor"/>&ndash;&gt;-->
        <!--</jaxrs:providers>-->
    </jaxrs:server>

</beans>
